:root {
  --tic-branding-color: #5f2eea;
  --tic-branding-color-middle: #6b07bdc9;
  --tic-branding-hover-color: #451cb4;
  --tic-branding-gradient: linear-gradient(120deg, #4b19db, #d000cc);
  --tic-branding-gradient-hover: linear-gradient(120deg, #2d00b6, #aa00a7);
  --tic-color-muted: #6E7191;
  --tic-color-section: #f5f6f8;
  --tic-color-black: #14142b;
  --tic-color-black-absolute: #000;
  --tic-color-nav: #414141;
}

body {
  margin: 0px;
  font-family: "Mulish", sans-serif;

  /* hide scrollbar on chromium base browser */
  ::-webkit-scrollbar {
    display: none;
  }

  /* IE 11 */
  -ms-overflow-style: none;

  /* Firefox 64 */ 
  scrollbar-width: none; 
}

body a {
  text-decoration: none;
}