#Page-Movie-Detail .poster-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh;
    border: 2px solid;
    border-color: #d8d8d8 ;
    border-radius: 8px;
}

#Page-Movie-Detail .poster-container img {
    width: 80%;
    height: 80%;
    aspect-ratio: 9/16;
    object-fit:fill;
    object-position: center;
    border-radius: 8px;
}