/* Navbar */

nav {
    align-items: center;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

#nav-left-item a {
    font-size: 14px;
    font-weight: 600 !important;
    color: var(--tic-color-nav);
    padding-left: 2.5vh;
    padding-right: 2.5vh;
}

#nav-right-item {
    color: var(--tic-branding-color-middle);
    text-decoration: none;
}

#nav-right-item button {
    font-size: 14px;
    font-weight: 700 !important;
}


#signin-button {
    color: var(--tic-branding-color-middle);
    border-color: var(--tic-branding-color-middle);
}

#signin-button:hover {
    color: white;
    background-color: var(--tic-branding-color-middle);

}

#signup-button {
    color: white;
    background-image: var(--tic-branding-gradient);
    border: unset;
}

#signup-button:hover {
    background-image: var(--tic-branding-gradient-hover);
    border: unset;
}

/* End of Navbar */

/* Offcanvas  */

.canvasItem {
    padding: 2vh;
    font-size: 2vh;
    font-weight: 700;
  }
  
  .canvasItem:hover {
    padding: 2vh;
    font-weight: 700;
    color: white;
    background-image: var(--tic-branding-gradient);
    border-radius: 5px;
  }
  
  #offcanvasTop {
    height: fit-content;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  .offcanvas-body {
    margin-top: 2vh;
  }
  
  .offcanvas-backdrop.show {
    opacity: unset;
    background: unset;
  }
  
  .offcanvas-backdrop {
    opacity: 100%;
    backdrop-filter: blur(10px) brightness(0.5);
  }
    
.mobile-component {
  display: none;
}
    
  /* end of Offcanvas */

  /* svg icons color */

.svg-color-tickitz-branding {
    opacity: 100%;
    filter: invert(23%) sepia(86%) saturate(5665%) hue-rotate(276deg)
      brightness(81%) contrast(114%);
  }
  
  /* end of svg icon color */
  